body {
  margin: 0;
  background-color: #eae8fe;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Ubuntu', sans-serif;
}

#vending-machine {
  padding: 1vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 70vh;
  width: 70vw;
  background-color: #ffffff;
  border-radius: 5px;
  gap: 1vw;
}

button {
  background-color: #6327fe;
  border: none;
  border-radius: 20px;
  min-width: 50px;
  min-height: 25px;
  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');